.swiperContainer {
    width: 100%;
    height: 100%;
  }
  .swiperSlide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
  }
  .swiperSlide:hover {
    transform: scale(1.05);
  }
  .productName {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  .productPrice {
    text-decoration: line-through;
    color: #888;
  }
  .productDiscountedPrice {
    color: red;
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  .actionButton {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
  }